@{
    ViewData["Title"] = "Новости";
}

<div class="container" style="margin-top: 40px">
    <h1 style="margin-left: auto; margin-right: auto; margin-bottom: 30px;">
        Новости
    </h1>
    @model List<BBLib.Models.News>

    @foreach (var news in Model)
    { 
    <div>
        <div class="minidiv" style="border: solid 5px #0d6efd; padding: 30px; margin-top: 25px ">
                <img src="@news.Img" height="300" style="margin-right: 30px" />
            <div id="tekst" style="min-width: 500px">
                    <a style="font-weight: bold; font-size: 22px" asp-route-id="@news.Id" asp-action="News1">@news.Zag</a>
                    <label style="font-size: 20px; margin-top: 20px">@news.Txt</label>
            </div>
                <label id="date" style="font-weight: bold; color: #0d6efd; font-size: 23px;">@news.DateN.ToString("dd/MM/yyyy")</label>
        </div>
    </div>
}
</div>