@{
    ViewData["Title"] = "Расписание";
    Layout = "~/Views/Shared/_Auth.cshtml";
}
@model Tuple<List<BBLib.Models.Raspi1>, List<BBLib.Models.Raspi1>, List<BBLib.Models.Raspi1>, List<BBLib.Models.Raspi1>, List<BBLib.Models.Raspi1>, List<BBLib.Models.Raspi1>>

<div style="margin-top: 50px">
    <h4>@ViewBag.Gr, @ViewBag.Ch</h4>
</div>
<div style="margin-top: 40px">
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px;">
        <label style="font-size: 20px; font-weight: bold; color: white">Понедельник</label>
    </div>
    <table class="table table-hover" style="font-size:18px; margin-top: 20px; margin-bottom: 30px">
        <thead>
            <tr>
                <th>Время</th>
                <th>Дата</th>
                <th>Дисциплина</th>
                <th>Вид занятия</th>
                <th>Аудитория</th>
                <th>Здание</th>
                <th>Преподаватель</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model.Item1)
            {
                <tr>
                    <td>@schedule.NameT</td>
                    <td>@schedule.DateR</td>
                    <td>@schedule.NameD</td>
                    <td>@schedule.NameV</td>
                    <td>@schedule.AudR</td>
                    <td>@schedule.ZdR</td>
                    <td>@schedule.FioU</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px; margin-bottom: 25px">
        <label style="font-size: 20px; font-weight: bold; color: white">Вторник</label>
    </div>
    <table class="table table-hover" style="font-size:18px; margin-bottom: 30px">
        <thead>
            <tr>
                <th>Время</th>
                <th>Дата</th>
                <th>Дисциплина</th>
                <th>Вид занятия</th>
                <th>Аудитория</th>
                <th>Здание</th>
                <th>Преподаватель</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model.Item2)
            {
                <tr>
                    <td>@schedule.NameT</td>
                    <td>@schedule.DateR</td>
                    <td>@schedule.NameD</td>
                    <td>@schedule.NameV</td>
                    <td>@schedule.AudR</td>
                    <td>@schedule.ZdR</td>
                    <td>@schedule.FioU</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px; margin-bottom: 25px">
        <label style="font-size: 20px; font-weight: bold; color: white">Среда</label>
    </div>
    <table class="table table-hover" style="font-size:18px; margin-bottom: 30px">
        <thead>
            <tr>
                <th>Время</th>
                <th>Дата</th>
                <th>Дисциплина</th>
                <th>Вид занятия</th>
                <th>Аудитория</th>
                <th>Здание</th>
                <th>Преподаватель</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model.Item3)
            {
                <tr>
                    <td>@schedule.NameT</td>
                    <td>@schedule.DateR</td>
                    <td>@schedule.NameD</td>
                    <td>@schedule.NameV</td>
                    <td>@schedule.AudR</td>
                    <td>@schedule.ZdR</td>
                    <td>@schedule.FioU</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px; margin-bottom: 25px">
        <label style="font-size: 20px; font-weight: bold; color: white">Четверг</label>
    </div>
    <table class="table table-hover" style="font-size:18px; margin-bottom: 30px">
        <thead>
            <tr>
                <th>Время</th>
                <th>Дата</th>
                <th>Дисциплина</th>
                <th>Вид занятия</th>
                <th>Аудитория</th>
                <th>Здание</th>
                <th>Преподаватель</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model.Item4)
            {
                <tr>
                    <td>@schedule.NameT</td>
                    <td>@schedule.DateR</td>
                    <td>@schedule.NameD</td>
                    <td>@schedule.NameV</td>
                    <td>@schedule.AudR</td>
                    <td>@schedule.ZdR</td>
                    <td>@schedule.FioU</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px; margin-bottom: 5px">
        <label style="font-size: 20px; font-weight: bold; color: white">Пятница</label>
    </div>
    <table class="table table-hover" style="font-size:18px; margin-bottom: 30px">
        <thead>
            <tr>
                <th>Время</th>
                <th>Дата</th>
                <th>Дисциплина</th>
                <th>Вид занятия</th>
                <th>Аудитория</th>
                <th>Здание</th>
                <th>Преподаватель</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model.Item5)
            {
                <tr>
                    <td>@schedule.NameT</td>
                    <td>@schedule.DateR</td>
                    <td>@schedule.NameD</td>
                    <td>@schedule.NameV</td>
                    <td>@schedule.AudR</td>
                    <td>@schedule.ZdR</td>
                    <td>@schedule.FioU</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px; margin-bottom: 25px">
        <label style="font-size: 20px; font-weight: bold; color: white">Суббота</label>
    </div>
    <table class="table table-hover" style="font-size:18px; margin-bottom: 30px">
        <thead>
            <tr>
                <th>Время</th>
                <th>Дата</th>
                <th>Дисциплина</th>
                <th>Вид занятия</th>
                <th>Аудитория</th>
                <th>Здание</th>
                <th>Преподаватель</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model.Item6)
            {
                <tr>
                    <td>@schedule.NameT</td>
                    <td>@schedule.DateR</td>
                    <td>@schedule.NameD</td>
                    <td>@schedule.NameV</td>
                    <td>@schedule.AudR</td>
                    <td>@schedule.ZdR</td>
                    <td>@schedule.FioU</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<div style="margin-top: 40px">
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px; margin-bottom: 25px">
        <label style="font-size: 20px; font-weight: bold; color: white">Вторник</label>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Время</th>
                <th scope="col">Дата</th>
                <th scope="col">Дисциплина</th>
                <th scope="col">Вид занятия</th>
                <th scope="col">Аудитория</th>
                <th scope="col">Здание</th>
                <th scope="col">Преподаватель</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11:20</td>
                <td>неч</td>
                <td>Поддержка и тестирование программных модулей</td>
                <td>лек</td>
                <td>327</td>
                <td>7</td>
                <td>Лоповок Елена Евгеньевна</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td>неч до 25.04</td>
                <td>Основы экономики</td>
                <td>лек</td>
                <td>125</td>
                <td>7</td>
                <td>Шафигуллина Дина Рамилевна</td>
            </tr>
            <tr>
                <td>15:10</td>
                <td>17.01,14.02,14.03 неч</td>
                <td>Инструментальные средства разработки программного обеспечения</td>
                <td>л.р.</td>
                <td>227</td>
                <td>7</td>
                <td>Шмидт Ильдар Рафаилович</td>
        </tbody>
    </table>
</div>

<div style="margin-top: 40px">
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px; margin-bottom: 25px">
        <label style="font-size: 20px; font-weight: bold; color: white">Среда</label>
    </div>
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px; margin-bottom: 25px">
        <label style="font-size: 20px; font-weight: bold; color: white">Вторник</label>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Время</th>
                <th scope="col">Дата</th>
                <th scope="col">Дисциплина</th>
                <th scope="col">Вид занятия</th>
                <th scope="col">Аудитория</th>
                <th scope="col">Здание</th>
                <th scope="col">Преподаватель</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>13:30</td>
                <td>неч</td>
                <td>Системное программирование</td>
                <td>лек</td>
                <td>125</td>
                <td>7</td>
                <td>Карпенкова Дарья Ивановна</td>
            </tr>
            <tr>
                <td>15:10</td>
                <td>неч</td>
                <td>Основы философии</td>
                <td>пр</td>
                <td>125</td>
                <td>7</td>
                <td>Сиразеева Талия Тимерхановна</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top: 40px">
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px; margin-bottom: 25px">
        <label style="font-size: 20px; font-weight: bold; color: white">Четверг</label>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Время</th>
                <th scope="col">Дата</th>
                <th scope="col">Дисциплина</th>
                <th scope="col">Вид занятия</th>
                <th scope="col">Аудитория</th>
                <th scope="col">Здание</th>
                <th scope="col">Преподаватель</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>09:40</td>
                <td>неч до 11.05</td>
                <td>Основы экономики</td>
                <td>пр</td>
                <td>327</td>
                <td>7</td>
                <td>Шафигуллина Дина Рамилевна</td>
            </tr>
            <tr>
                <td>11:20</td>
                <td>неч</td>
                <td>Разработка мобильных приложений</td>
                <td>лек</td>
                <td>509</td>
                <td>7</td>
                <td>Гимадеев Ильдар Фаритович</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td></td>
                <td>Безопасность жизнедеятельности</td>
                <td>пр</td>
                <td>531</td>
                <td>7</td>
                <td>Иволга Игорь Александрович</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td></td>
                <td>Безопасность жизнедеятельности</td>
                <td>пр</td>
                <td>355</td>
                <td>7</td>
                <td>Нигматзянова Дина Игоревна</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top: 40px">
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px; margin-bottom: 25px">
        <label style="font-size: 20px; font-weight: bold; color: white">Пятница</label>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Время</th>
                <th scope="col">Дата</th>
                <th scope="col">Дисциплина</th>
                <th scope="col">Вид занятия</th>
                <th scope="col">Аудитория</th>
                <th scope="col">Здание</th>
                <th scope="col">Преподаватель</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>13:30</td>
                <td>неч</td>
                <td>Системное программирование</td>
                <td>лек</td>
                <td>125</td>
                <td>7</td>
                <td>Карпенкова Дарья Ивановна</td>
            </tr>
            <tr>
                <td>15:10</td>
                <td>неч</td>
                <td>Основы философии</td>
                <td>пр</td>
                <td>125</td>
                <td>7</td>
                <td>Сиразеева Талия Тимерхановна</td>
            </tr>
        </tbody>
    </table>
</div>


<div style="margin-top: 40px">
    <div style="background-color: #0d6efd; height: 35px; text-align:center; width: 170px; margin-bottom: 25px">
        <label style="font-size: 20px; font-weight: bold; color: white">Суббота</label>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Время</th>
                <th scope="col">Дата</th>
                <th scope="col">Дисциплина</th>
                <th scope="col">Вид занятия</th>
                <th scope="col">Аудитория</th>
                <th scope="col">Здание</th>
                <th scope="col">Преподаватель</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>09:40</td>
                <td>неч до 11.05</td>
                <td>Основы экономики</td>
                <td>пр</td>
                <td>327</td>
                <td>7</td>
                <td>Шафигуллина Дина Рамилевна</td>
            </tr>
            <tr>
                <td>11:20</td>
                <td>неч</td>
                <td>Разработка мобильных приложений</td>
                <td>лек</td>
                <td>509</td>
                <td>7</td>
                <td>Гимадеев Ильдар Фаритович</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td></td>
                <td>Безопасность жизнедеятельности</td>
                <td>пр</td>
                <td>531</td>
                <td>7</td>
                <td>Иволга Игорь Александрович</td>
            </tr>
            <tr>
                <td>13:30</td>
                <td></td>
                <td>Безопасность жизнедеятельности</td>
                <td>пр</td>
                <td>355</td>
                <td>7</td>
                <td>Нигматзянова Дина Игоревна</td>
            </tr>
        </tbody>
    </table>
</div>*@